<div class="contentpage">
  <div class="layout-container">
    <div id="sideNavigation" class="sidenav">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <a href="#">About</a>
      <a href="#">Features</a>
      <a href="#">Contact Us</a>
    </div>
    
    <nav class="topnav">
      <a href="#">
        <svg width="30" height="30" id="icoOpen">
          <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
        </svg>
      </a>
    </nav>

    <div class="menu-bar">
      {{ page.primary_menu }}
    </div>

    {% if node.field_page_type.value =='home' %}
        {% set header_cover = 'header-cover'%}
    {% endif %}
      
    <header role="banner" class="{{ header_cover }}">
       {{ page.header }}  
    </header>



    {% if node.field_page_type.value =='home' %}
      
    {% endif %}

    {% if node.field_page_type.value =='home' %}
      <div class="feature-style">
            <div class="feature-top">
              {{ page.featured_top }}
            </div>
        </div>
    {% endif %}
        
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}

    <div class="secondary-menu">
      {{ page.secondary_menu }} 
    </div>



        <div class="member-profile-wrapper">
          <!-- member profile start here -->
            <div class="member-profile">
            
              <div class="user-profile-pic">
                <img class="img" src="/sites/default/files/private/{{memberProfilePicture}}" />
              </div>
              <div>
                  {{memberName}}
              </div>

              <div>
                Production Manager
              </div>

              <div>
                  {{memberEmail}}
              </div>
              <div>
                  {{memberGender}}
              </div>

              <div class="row">
                <div class="profile-card-coloumn">
                  Age
                </div>

                <div class="profile-card-coloumn">
                  Weight
                </div>

                <div class="profile-card-coloumn">
                  height
                </div>
              </div>

              <div class="row">
                <div class="profile-card-coloumn">
                  28
                </div>
                <div class="profile-card-coloumn">
                  67 kg
                </div>
                <div class="profile-card-coloumn">
                {{memberheight}} 
                </div>
              </div>

              <div>
                {{memberContact}}
              </div>
              
              <div>
                {{membercity}}
              </div>

            <div class="member-list-wraper">
              {% for member in membersThoseWhoLiked %}
                  <div class="member-list" data-member-id="{{member.memberUuid}}">  
                    <a href="/my-profile?memberId={{member.memberUuid}}">
                      {{member.memberName}}
                    </a> 
                  </div>
              {% endfor %}
             </div>

            <button class="like-button">Like</button>

            </div>
          <!-- profile ends here -->

          <!--member-wall-starts-here-->
          <div class="member-wall-wraper">
             <div>
            
      
             </div>
          </div>
          <!-- disply Member List -->
          <div class="member-list-wraper">
              {% for member in memberList %}
              <div class="member-list" data-member-id="{{member.memberUuid}}">  
                 <a href="/my-profile?memberId={{member.memberUuid}}">
                  {{member.memberName}}
                 </a> 
              </div>
              {% endfor %}
          </div>
        </div>  



    <div class="page-footer">
        {% if page.footer %}
          <footer role="contentinfo" class="footer-style">
            {{ page.footer }}
          </footer>
        {% endif %}
    </div>

    <div class="footer">
      <div class="footer-menu">
        {% if page.footer_first %}
          <div class="bottom">
            {{ page.footer_first }}
            <div class="copyright"> Copyright © 2018 Mendhru Internet Services</div>
          </div>
        {% endif %}    
      </div>    
    </div>

  </div>{# /.layout-container #}
</div>